HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### MACOS Specific ###
.DS_Store

### VS Code ###
.vscode/

### npm modules ###
frontend/node_modules
frontend/student_course_api_frontend/node_modules

### Gradle ###
build/
.gradle



